/* =============
    Section 2
============= */
#section-2{
    #section-2-container{
        aside{
            background-image: url('../img/section-2/Shoe.jpg');
            background-position: center;
            background-size: cover;
            height: 600px;
        }

        #section-2-right{
            h1{
                color: $navy;
            }
            
            p{
                color: $red;
            }
        }

    }
}
