/* =============
    Section 6
============= */
#section-6{
    h1{
        color: $navy;
        font-size: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;

        @include md{
            font-size: 45px;
            text-align: center;
        }
        @include md{
            font-size: 50px;
            text-align: center;
        }
    }

        ul{
            display: grid;
            grid-gap: 10px;
            grid-template-rows: repeat(4, 320px);
            grid-template-areas: "g1"
            "g2"
            "g3"
            "g4";

            @include md{
            grid-gap: 15px;
            grid-template-rows: repeat(3, 248px);
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:  
            "g1 g2 g3"
            "g4 g4 g4"
            "g4 g4 g4";
            }

            @include lg{
                grid-template-rows: repeat(3, 330px);
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:  
                "g1 g2 g3"
                "g4 g4 g4"
                "g4 g4 g4";
                }
    
            li{
                background-position: center;
                background-size: cover;
            }
                
            #g1{
                background-image: url("../img/section-6/vase.jpg") ;
                height: 320px;
                grid-area: g1;

                @include md{
                    height: 248px;
                }

                @include lg{
                    height: 330px;
                }
            }
    
            #g2{
                background-image: url("../img/section-6/greens.jpg") ;
                height: 320px;
                grid-area: g2;

                @include md{
                    height: 248px;
                }

                @include lg{
                    height: 330px;
                }
            }
    
            #g3{
                background-image: url("../img/section-6/dress.jpg") ;
                height: 320px;
                grid-area: g3;

                @include md{
                    height: 248px;
                }

                @include lg{
                    height: 330px;
                }
            } 

            #g4{
                background-image: url("../img/section-6/drinks.jpg") ;
                height: 320px;
                grid-area: g4;

                @include md{
                    height: 496px;
                }

                @include lg{
                    height: 660px;
                }
            }
       }       
 } 