/* =============
    Section 5
============= */
#section-5{
    padding-left: 30px;
    padding-right: 30px;

    @include md{
        padding-left: 50px;
         padding-right: 50px;
    }

    @include lg{
        padding-left: 100px;
        padding-right: 100px;
    }

    h1{
        padding-top: 70px;
        padding-bottom: 15px;
        color: $navy;
        font-size: 36px;

        @include md{
            font-size: 50px;
        }
    }

    p{
        color: $navy;
        font-size: 16px;
        padding-bottom: 50px;

        @include lg{
            font-size: 22px;
        }
    }
}